@tailwind base;
@tailwind components;
@tailwind utilities;

.ref {
  background-image: url(../../public/cccoil.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
